Hey, thanks for trying out the sp@mlooper!<br /><br />

Before we begin our journey down Spam Destruction Lane, we need you to confirm your email address to prevent misuse of the system.<br /><br />

<b>BIG FAT NOTICE: I didn't think anyone would try this out. So, PLEASE use at your own risk!</b>
<br /><br />

So, head here: <a href="<%=ENV['BASE_URL']%>/users/confirm?confirm_token=<%=@confirm_token%>&reset_token=<%=@reset_token%>"><%=ENV['BASE_URL']%>/users/confirm?confirm_token=<%=@confirm_token%>&reset_token=<%=@reset_token%></a></br ><br />
<br />
Thank ya,<br />
John Turing